.homeMenu{
    width: 200px;
    background-color: white;
    box-shadow: 1px 1px 6px gray;
    position: absolute;
    display: none;
    z-index: 5;
}
.pagesMenu{
    width: 200px;
    background-color: white;
    box-shadow: 1px 1px 6px gray;
    position: absolute;
    display: none;
    z-index: 5;
}
.shopMenu{
    width: 1000px;
    background-color: white;
    box-shadow: 1px 1px 6px gray;
    position: absolute;
    display: none !important; 
}
.navbar .navMenu:hover::before{
    height: 1px ;
    width: 100% ;
    background-color: gray;
    transition: 0.5s;
}
/* .navbar .shopMenu{

    display: none  !important;
} */
.carousel{
    position: relative;
}
.slideText{
    width: 400px;
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: 2;

}
#filter-flowers{
    ul{
        display: flex;
        // justify-content: space-between;
        li{
            list-style: none;
            margin: 20px;
            font-size: 18px;
            transition:  all .8s;
                &:hover{
                    color: #f34f3f;
                }
        }
    }

    .card-element{
        width: 100%;
        height: 500px;
        &:hover{
            .card-body{
                .add-to{
                    span{
                        opacity: 1 !important;
                        position: absolute;
                        left: 90px;
                        transition: 1s all;
                        &:hover{
                            color: #f34f3f;
                            cursor: pointer;
                        }
                    }
                }
                .prise{
                    span{
                        opacity: 0;
                    }
                }
            }

        }
        .card-img{
            img{
                width: 80%;
                height: 300px;
            }
        }
        .card-body{
            text-align: center;

                .prise{
                    span{
                        transition: .5s all;
                  opacity: 1;
                    }
                }

                .add-to{
                    position: relative;
                    span{
                        top: -24px;
                        left: 30px;
                        position: absolute;
                        opacity: 0; 
                    }
                }
        }
    }
}

.active{
    color:#f34f3f ;
}

